@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Glass+Antiqua&display=swap');

:root {
    --cor0: #F7D500;
    --cor1: #ED7D3A;
    --cor2: #2FBF71;
    --cor3: #EF2D56;
    --cor4: #363537;
    --cor5: #FFFFFF;
    --cor6: #000000
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--cor0);
}

main > div#conteiner > section > h1 {
    margin-top: 50px;
}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

main > div#conteiner > section {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.419);
    padding: 20px;
    border-radius: 15px;
}

main >div#conteiner >  section, main > div#conteiner >  section > form {
    width: 400px;
    height: 600px;
    background-color: var(--cor5);
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main > div#conteiner > section > form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main > div#conteiner > section > form > fieldset {

    border: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main > div#conteiner > section > form > fieldset#contatos {
    width: 100%;
    height: 35%;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main > div#conteiner > section > form > fieldset#nascimento, main > div#conteiner > section > form > fieldset#genero {
    width: 350px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

main > div#conteiner > section > form > fieldset#genero {

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

main > div#conteiner > section > form > fieldset#password {
    width: 100%;
    height: 25%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main > div#conteiner > section > form > fieldset > legend {
    text-align: left;
    padding-left: 15px;
    font-size: 0.8em;
    border: none;
}

input {
    width: 325px;
    padding: 10px;
    color: var(--cor4);
}

select {
    padding: 10px 45px 10px 0px;
    margin: 5px;
}

input[type="radio"] {
    width: 20px;
    background-color: var(--cor5);
}

input[type="submit"] {
    background-color: var(--cor3);
    border-radius: 10px;
    color: var(--cor5);
    font-weight: bold;
    border: none;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #cf274b;
}

.escondido {
    display: none;
}

div#video {
    display: none;
}