@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Glass+Antiqua&display=swap');

:root {
    --cor0: #F7D500;
    --cor1: #ED7D3A;
    --cor2: #2FBF71;
    --cor3: #EF2D56;
    --cor4: #363537;
    --cor5: #FFFFFF;
    --cor6: #000000
}

main > section > table > thead > tr > th > a {
    text-decoration: none;
    color: var(--cor4);
}

main > section > table > tbody > tr > td > a.apagar {
    background-color: #EF2D56;
}

main > section > table > tbody > tr > td > a.apagar:hover {
    background-color: #d8294f;
}

main > section > table > tbody > tr > td > img {
    width: 10vw;
}